// Estilos para el contenido principal
main{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 120px;

    // Estilos específicos para tablet
    @include breakpoint(tablet){
        padding-left: 40px;
        padding-right: 40px;
    }

    // Estilos específicos para desktop
    @include breakpoint("desktop"){
        padding-left: 130px;
        padding-right: 130px;
        margin-bottom: 180px;
    }


// Estilos para la sección de la galería
.gallery-section{
    display: flex;
    flex-direction: column;
    gap:25px;
    width: 100%;
    @include breakpoint(tablet){
        gap: 0px;
    }
}


// Estilos para la primera sección de la galería
.grid-one{
    // Estilos específicos para tablet
    @include breakpoint(tablet){
        .artwork-1, &__desktop{
            display:none;

            // Estilos específicos para desktop dentro de tablet
            @include breakpoint("desktop"){
                &__desktop{
                    display: block;
                    img{
                        width: 100%;
                    }
                }
            }

            // Estilos para tablet
            &__tablet{
                display: block;

                // Ocultar en desktop
                @include breakpoint("desktop"){
                    display: none;
                }
                

                img{
                    width: 100%;
                }
            }
        }
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-areas: "gallery-text" "artwork-1__tablet" ;
        gap: 11px;
        
    }

    // Estilos específicos para desktop
    @include breakpoint("desktop"){
        gap: 25px;
        align-items: center;
        margin-bottom: -25px;
    }
    
}


// Estilos para la imagen en la primera sección
.artwork-1{
    img{
        width: 100%;
        margin-bottom: 25px;
    }
    &__tablet{
        display: none;
    }
    &__desktop{
        display: none;
    }
}

// Estilos para el texto en la galería
.gallery-text{
    // Estilos específicos para tablet
    @include breakpoint(tablet){
        grid-area: gallery-text;
    }

    h2{
        // Estilos comunes
        font-family: $title-font;
        font-size: 50px;
        font-weight: 800;
        font-style: normal;
        line-height: 45px;
        width: 74%;
        margin-bottom: 18px;
        color: $black;

        // Estilos específicos para desktop
        @include breakpoint("desktop"){
            font-size: 60px;
            line-height: 60px;
            width: 78%;
            br{
                display: none;
            }
        }
    }

    p{
        // Estilos comunes
        font-family: $secon-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: 28px;
        color: $grey;
        margin-bottom: 10px;
        width: 87%;

        // Estilos específicos para tablet
        @include breakpoint("tablet"){
            width: 85%;
        }

        // Estilos específicos para desktop
        @include breakpoint("desktop"){
            font-size: 19px;
        }
    }
}

// Estilos para la segunda sección de la galería
.grid-two{
    // Estilos específicos para tablet
    @include breakpoint("tablet"){
        display: grid;
        grid-template-columns: 60% 40%;
        column-gap: 11px;
        row-gap: 11px;
        .artwork-2{
            display: none;
        }
        .artwork-3{
            display: none;
        }
    }

    // Estilos específicos para desktop
    @include breakpoint("desktop"){
        gap: 25px;
    }

    // Estilos para la segunda imagen
    .artwork-2{
        img{
            width: 100%;
            height: auto;
        }
        margin-bottom: 16px;
        &__tablet{
            display: none;
        }
        &__desktop{
            display: none;
        }

        // Estilos específicos para tablet
        @include breakpoint("tablet"){
            img{
                display: none;
            }
            &__tablet{
                display: block;
                grid-column: 1;
                grid-row: 2/4;
                object-fit: fill;
                max-width: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        // Estilos específicos para desktop
        @include breakpoint("desktop"){
            img{
                display: none;
            }
            &__desktop{
                display: block;
                grid-column: 1;
                grid-row: 2/4;
                object-fit: fill;
                max-width: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &__tablet{
                display: none;
            }
        }
    }

// Estilos para la tercera imagen
.artwork-3{
        img{
            width: 100%;
            height: auto;
            margin-bottom: 16px;
        }
        &__tablet{
            display: none;
        }
        &__desktop{
            display: none;
        }

        // Estilos específicos para tablet
        @include breakpoint("tablet"){
            img{
                display: none;
            }
            &__tablet{
                display: block;
                grid-column: 2;
                grid-row: 2;
                object-fit: fill;
                max-width: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        // Estilos específicos para desktop
        @include breakpoint("desktop"){
            img{
                display: none;
            }
            &__desktop{
                display: block;
                grid-column: 2;
                grid-row: 2;
                object-fit: fill;
                max-width: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &__tablet{
                display: none;
            }
        }
    }

// Estilos para el texto de inspiración
.inspiration-text {
            background-color: $black;
            padding: 48px 24px;
            
            h3{
                font-family: $title-font;
                font-weight: 800;
                font-size: 50px;
                font-style: normal;
                line-height: 45px;
                width: 90%;
                color: $white;
                margin-bottom: 24px;

                // Estilos específicos para desktop
                @include breakpoint("desktop"){
                    font-size: 60px;
                    line-height: 60px;
                }
            }
        
            p{
                font-family: $secon-font;
                font-size: 17px;
                font-style: normal;
                font-weight: 300;
                line-height: 28px;
                color: $white;
                width: 93%;

                // Estilos específicos para desktop
                @include breakpoint("desktop"){
                    font-size: 19px;
                    line-height: 33px;
                    
                }
            }

            // Estilos específicos para tablet
            @include breakpoint("tablet"){
                grid-column: 2;
                grid-row: 3;
                padding: 85px 29px;
                p{
                    width: 90%;
                }
            }

            // Estilos específicos para desktop
            @include breakpoint("desktop"){
                padding: 65px 48px;
            }
        }
    }
}





